.about-me-section {
    position: fixed;
    top: 15%;
    right: 32%;
    width: 35%;
    text-align: center;
}

.about-me-section p {
    margin: 20px;
}

#skills {
    margin-top: 250px;
    margin-bottom: 20px;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 30px;
    transition: transform 0.5s;
    align-items: center;
}

.skills-list:hover {
    transform: scale(2);
}

.skills-list .fab, .fas, #reduxIcon{
    transition: transform 0.5s;
}

.skills-list .fab:hover, .fas:hover, #reduxIcon:hover {
    transform: scale(3);
}

#reduxIcon {
    color: white;
    line-height: 1;
    max-width: 24px;
    max-height: 24px;
    justify-items: baseline;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .about-me-section {
        right: 15%;
        width: 70%;
        font-size: 20px;
    }
    #skills {
        margin-top: 80px;
    }

    .skills-list:hover {
        transform: scale(1);
    }

}

@media screen and (max-width: 767px) {
    .about-me-section {
        right: 10%;
        width: 80%;
        font-size: 10px;
    }
    #skills {
        margin-top: 20px;
    }

    .skills-list:hover {
        transform: scale(1);
    }
}