.contact-me {
    position: fixed;
    margin-top: -5%;
    right: 32%;
    width: 35%;
    text-align: center;
}

.contact-me h2{
    margin-bottom: 4%;
}

.contact-me li {
    list-style-type: none;
    margin: 5% 0px;
}

.fab {
    font-size: 25px;
}

.fa-brands {
    font-size: 25px;
}

@media screen and (max-width: 767px) {
   .contact-me {
    margin-top: -30%;
    right: 20%;
    width: 60%;
   }
   .contact-me li {
        line-height: 60px;
        font-size: 15px;
    }
    .contact-me h2 {
        font-size: 15px;
    }
    .contact-me a {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .contact-me {
        right: 15%;
        width: 70%;
    }
    .contact-me li {
        line-height: 60px;
        font-size: 25px;
    }
    .contact-me h2 {
        font-size: 30px;
    }
    .contact-me a {
        font-size: 25px;
    }
}