.projects-container {
    display: flex;
    position: absolute;
    margin-top: -5%;
    right: 35%;
    width: 30%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects-container a {
    color: white;
}

.projects-container button {
    padding: 5px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 80px; 
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.878);
}

.projects-container button:hover {
    opacity: 1;
}

.projects {
    transition: transform 0.3s;
}

.projects:hover {
    transform: scale(1.2);
}

.project-name {
    display: absolute;
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.721);
    width: 80%;
    margin-left: 10%;
}

.sa-surf-spots {
    text-align: center;
    width: 48%;
    height: 200px;
    background-image: url('/public/Resources/map-of-south-africa.gif');
    background-size: cover;
    margin-top: 2%;
}

.duly-noted {
    text-align: center;
    width: 48%;
    height: 200px;
    background-image: url('/public/Resources/NotePad.jpeg');
    background-size: cover;
    margin-top: 2%;
}

.reddit-app {
    text-align: center;
    width: 48%;
    height: 200px;
    background-image: url('/public/Resources/RedditLogo.jpg');
    background-size: cover;
    margin-top: 2%;
} 

.top-travel-destinations {
    text-align: center;
    width: 48%;
    height: 200px;
    background-image: url('/public/Resources/Travel.jpg');
    background-size: cover;
    margin-top: 2%;
}

.tea-cozy {
    text-align: center;
    width: 48%;
    height: 200px;
    background-image: url('/public/Resources/organic\ tea.jpg');
    background-size: cover;
    margin-top: 2%;
}

.surf-club {
    color: white;
    text-align: center;
    width: 48%;
    height: 200px;
    background-image: url('/public/Resources/Surf-boards.jpg');
    background-size: cover;
    margin-top: 2%;
}

.infoIcon {
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.infoIcon:hover {
    transition: transform 1s;
    transform: scale(1.5);
}

.tooltip {
    width: 15px;
    font-size: 12px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    margin-left: -90px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media screen and (max-width: 767px) {
    .projects-container {
        margin-top: -30%;
        width: 80%;
        right: 10%;
    }

    .project-container button {
        font-size: 10px;
    }
    .projects {
        height: 140px;
    }
    .projects button {
        margin-top: 60px;
        padding: 3px;
    }
    .project-name {
       font-size: 10px;
    }

    .tooltip .tooltiptext {
        font-size: 8px;
        width: 130px;
        margin-left: -65px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .projects-container {
        width: 70%;
        right: 15%;
    }
    .projects {
        height: 230px;
    }
    .project-container button {
        font-size: 15px;
        line-height: 1;
        padding: 0;
    }
    .project-name {
        font-size: 20px;
     }

    .tooltip .tooltiptext {
        font-size: 16px;
        width: 280px;
        margin-left: -140px;
    }
}