.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 projects per row */
    gap: 20px;
    padding: 20px;
    justify-items: center;
    margin-top: 0; /* Ensure no space at the top */
  }
  
  @media (max-width: 1200px) {
    .projects-container {
      grid-template-columns: repeat(2, 1fr); /* 2 projects per row on medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .projects-container {
      grid-template-columns: 1fr; /* 1 project per row on smaller screens */
    }
  }
  
  .projects {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .projects:hover {
    transform: scale(1.05);
  }
  
  .tooltip {
    margin-right: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .projects:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .infoIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .project-name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  
  .projects .project-name {
    background: rgba(0, 0, 0, 0.6);  /* Semi-transparent background */
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .visit-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .visit-btn a {
    color: white;
    text-decoration: none;
  }
  
  .visit-btn:hover {
    background-color: #0056b3;
  }
  